@use 'src/styles/vars';

.About {
  background-color: vars.$bg-blur;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-height: vars.$dashboard-bottom;

  &__title {
    font-size: 3rem;
    color: vars.$white;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  &__card {
    background-color: vars.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    padding: 1rem;
  }

  &__image {
    width: 100%;
    max-height: 300px;
  }

  &__link {
    display: flex;
    gap: 5px;
  }
}