@use 'reset';
@use 'vars';


@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Cormorant+Infant:wght@400;500;600&family=Hind+Siliguri&family=IM+Fell+English:ital@0;1&family=Karla&family=Lato&family=Montserrat&family=Old+Standard+TT&family=Raleway&family=Reem+Kufi+Fun&display=swap');

// Titre
// font-family: 'Aref Ruqaa Ink', serif;
// font-family: 'Cormorant Infant', serif;
// font-family: 'IM Fell English', serif;
// font-family: 'Old Standard TT', serif;
// font-family: 'Reem Kufi Fun', sans-serif;

// Paragraphe

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: bisque;
}
