@use 'src/styles/vars';

.Card {
  background-color: vars.$bg-sign;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 400px;
  min-height: 250px;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
    color: #fff;
  }

  &__image {
    width: 100%;
    height: 250px;
    margin-bottom: 1rem;
    object-fit: cover;
  }


  &__infos {
    background-color: azure;
    min-height: 100px;
    padding: 5px;
    flex-grow: 1;
  }

  &__description {
    font-weight: bold;
    text-decoration: underline;
    margin: 0.3rem 0;
  }

  &__details {
    margin: 0.3rem 0;
  }
}
