@use 'src/styles/vars';

.Dashboard {
  background-color: vars.$bg-blur;
  min-height: vars.$dashboard-bottom;
  padding: vars.$padding-corner;
  box-shadow: vars.$box-shadow;

  @media screen and (max-width: vars.$breakoint-phone) {
    padding: 0;
  }

  &__hello {
    margin: 2rem 0 1rem;
    font-size: 3rem;
    font-weight: bold;
    font-family: vars.$font-title;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: vars.$box-shadow;
    background-color: vars.$white;

    @media screen and (max-width: vars.$breakoint-phone) {
      border-radius: 0;
      margin: 0;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: bold;
    font-family: vars.$font-title;
  }

  &__content {
    margin-top: 4rem;
    display: flex;
    // flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: vars.$box-shadow;
    background-color: darken(vars.$white, 15%);


    @media screen and (max-width: vars.$breakoint-phone) {
      flex-direction: column;
      // border-radius: 0;
      padding: 0;
    }
  }

  &__item {
    padding: 3rem;
    border-radius: 15px;
    box-shadow: vars.$box-shadow;
    background-color: vars.$white;

    @media screen and (max-width: vars.$breakoint-mini-phone) {
      padding: 3rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media screen and (max-width: vars.$breakoint-phone) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.tasks {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;

  @media screen and (max-width: vars.$breakoint-mini-phone) {
    gap: 2rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: vars.$breakoint-mini-phone) {
      justify-content: center;
    }
  }
}

// change background color bar on view calendar
.rbc-day-slot .rbc-background-event,
.rbc-event {
  background-color: vars.$bg-sign;
}

.dashboard-button {
  background-color: vars.$bg-sign;
  border-radius: 6px;
  border-width: 0;
  box-shadow: vars.$box-shadow-dark;
  box-sizing: border-box;
  color: vars.$white;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  text-align: center;
  padding: 1rem 3rem;
}

.sheets {
  flex: .7;
  padding-left: 5rem;

  @media screen and (max-width: vars.$breakoint-mini-phone) {
    padding-left: 0;
  }


  & h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  & p {
    margin-bottom: 2rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem 0;


    &>button {
      flex: 1;
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      box-shadow: vars.$box-shadow-dark;
      background-color: vars.$bg-sign;
      color: vars.$white;
    }
  }
}

// MANDATORY SETTING
// // Always set calendar height
.rbc-calendar {
  min-height: 40rem;
}

.rbc-toolbar {
  gap: 1rem;
}

.rbc-agenda-time-cell {
  display: none;
}

.rbc-agenda-view > .rbc-agenda-table {
  background-color: #fff;
  border: none;
}

.rbc-agenda-view {
  overflow-x: hidden;
}

div.rbc-agenda-view>table>thead>tr>th:nth-child(2) {
  display: none;
}

.rbc-header+.rbc-header {
  border: none;
}

.rbc-agenda-content {
  overflow-y: scroll;
}
