@use '/src/styles/vars';

.SheetsSearch {
  background-color: vars.$bg-blur;
  min-height: vars.$dashboard-bottom;
  display: flex;
  justify-content: center;
  padding: vars.$padding-corner;

  @media screen and (max-width: vars.$breakoint-phone) {
    padding: 1rem;
  }

  &__container {
    background-color: darken(vars.$white, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 80%;
    padding: 1rem 0;

    @media screen and (max-width: vars.$breakoint-phone) {
      width: 100%;
      border-radius: 15px;
    }
  }

  &__header {
    padding: 3rem;
    border-radius: 15px;
    box-shadow: vars.$box-shadow;
    background-color: vars.$white;
    width: 50%;
  }

  &__title {
    display: block;
    font-size: 2rem;
    font-family: vars.$font-title;
    font-weight: 600;
    border-radius: 1rem;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;
    width: 100%;


    &__input {
      height: 35px;
      padding: 0.6em;
      max-width: 40rem;
      min-width: 15%;
      border-radius: 1rem 0 0 1rem;
      border: 1px solid vars.$bg-sign;
      border-right: none;
    }

    &__button {
      height: 35px;
      width: 5rem;
      border-radius: 0 1rem 1rem 0;
      background-color: vars.$bg-sign;
      border: 1px solid vars.$bg-sign;
      color: vars.$white;
      transition: all 0.3s ease;

      &:hover {
        background-color: vars.$white;
        color: vars.$bg-sign;
        transition: all 0.3s ease;
      }

      &:active {
        box-shadow: inset 0 0 3px 1px black;
        transition: none;
      }
    }
  }

  &__list {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 2rem;
    gap: 2rem;
  }

  &__button_more {
    height: 35px;
    width: 12rem;
    margin: 2rem 0;
    border-radius: 1rem;
    font-size: 1.6rem;
    background-color: vars.$bg-sign;
    border: 1px solid vars.$bg-sign;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      background-color: white;
      color: vars.$bg-sign;
      transition: all 0.3s ease;
    }

    &:active {
      box-shadow: inset 0 0 3px 1px black;
      transition: none;
    }
  }
}
