@use 'src/styles/vars';

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;

  min-height: vars.$dashboard-bottom;

  &__container {
    background-color: vars.$bg-sign;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    min-height: 300px;
    min-width: 300px;
  }

  &__title {
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__nopassword {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__input {
    line-height: 28px;
    border: 1px solid transparent;
    border-bottom-color: vars.$color-sign-bar;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #fff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
    width: 100%;
    caret-color: vars.$bg-sign;

    &:focus,
    &:hover {
      outline: none;
      padding: .2rem 1rem;
      border-radius: 1rem;
      border-color: vars.$color-sign-bar;
    }

    &::placeholder {
      color: #fff;
    }

    &:focus {
      background-color: #fff;
      color: vars.$bg-sign;
    }
  }

  &__error {
    display: block;
    color: #cf000a;
    background-color: rgba(255, 186, 186, .95);
    padding: 0.2em 0.5em;
  }
}
