@use 'src/styles/vars';

.Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darken(vars.$bg-sign, 5%);
  padding: 1rem;
  color: vars.$white;
  letter-spacing: 0.5px;
  margin: 0 auto;

  @media screen and (min-width: vars.$breakoint-desktop) {
    max-width: 1200px;
    margin: 1rem auto;
    border-radius: 15px;
  }

  &__logo {
    margin-left: 3rem;
  }

  &__introduction {
    border-bottom: vars.$bar;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 2.5rem;
    gap: 3rem;
    padding: 1rem 1rem 3rem;
    margin-bottom: 3rem;
    max-width: 700px;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: bold;
    max-width: 300px;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
  }

  &__button {
    margin: 1rem 0;
    display: inline-block;
    background-color: vars.$bg-button;
    color: vars.$black;
    padding: 2rem;
    border-radius: 5px;
    font-size: 1.8rem;

    &:hover {
      color: vars.$white;
      background-color: darken(vars.$bg-button, 20%);
    }

    &--func {
      position: absolute;
      bottom: 0;
      left: 0;
      // transform: translateX(-50%);
    }
  }

  &__fonctionalites {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    border-bottom: 1px solid #626568;
    padding: 1rem 1rem 3rem;
    margin-bottom: 3rem;
  }

  &__fonctionality {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 270px;
    position: relative;
  }

  &__tag {
    width: 20%;
  }

  &__fonctionality-title {
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
  }

  & .Card:hover {
    cursor: default;
  }

  & .Card__infos {
    color: vars.$black;
  }

  & .Modal__content {
    background-color: lighten($color: vars.$bg-sign, $amount: 5);
    width: 90%;
    max-width: 1200px;
    border-radius: 15px;
  }

}
