@keyframes slidein {
  from {
    bottom: 5%;
  }
  to {
    bottom: 25%;
  }
}

.error-message {
  position: absolute;
  z-index: 2;
  bottom: 25%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 300px;
  max-width: 90%;
  max-height: 25vh;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 1.2em;
  background-color: #FFBABA;
  border: 2px solid;
  color: #D8000C;
  animation: 0.3s ease slidein ;
  text-align: center;
}

.alert-logo {
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 1px;
}
